/* Import Design System */
@import url('design_sys.css');

/* Header - Using Custom Element */


/* Main */
.nyatet_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

#search_bar {
    display: flex;
    height: 75px;
    max-width: 1057px;
    gap: 20px;
    padding-top: 40px;
}

#searchNoteTitle {
    width: 963px;
    border-radius: 25px;
    border: 3px solid var(--gray-acc);
    background-color: transparent;
}

#searchNoteTitle::placeholder {
    color: var(--gray-acc);
    font-size: 24px;
}

#searchNoteTitle:focus {
    color: var(--gray-acc);
    font-size: 24px;
    padding-left: 20px;
}

#searchNoteTitle:valid{
    color: var(--gray-acc);
    font-size: 24px;
    padding-left: 20px;
}

#searchNoteBtn {
    width: 77px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: var(--purple-main);
}

#wrap_addBtn {
    display: flex;
    flex-direction: row;
    gap: 78px;
    margin-top: 50px;
}

#addNoteBtn {
    width: 300px;
    height: 300px;
    background-color: var(--dark-secondary);
    border-radius: 5px;
    border: 3px solid var(--gray-acc);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

#addNoteBtn:hover {
    transform: scale(1.1);
}

.blankDiv {
    width: 300px;
    height: 300px;
    background-color: transparent;
}

/* Popup Section */

.wrap_popup {
    display: flex;
    justify-content: center;
    align-items: center;
}

#popupContainer {
    position: absolute;
    visibility: hidden;
    top: 7.5rem;
    display: flex;
    flex-direction: column;
  
    z-index: 3;
    border-radius: 8px;
    border-top: 5px solid #4361EE;
    background: #212330;
    width: 400px;
    min-height: 400px;
}

#popupContainer > h1 {
    align-items: center;
    justify-content: center;
    color: var(--neutral-white);
    display: flex;
    font-size: 32px;
}

.input_form {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 10px;
}

.input_form > label {
    color: var(--neutral-white);
    font-size: 16px;
    padding-bottom: 10px;
}

.input_form > input {
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid var(--neutral-white);
    height: 30px;
}

.input_form > h5 {
    color: #E33333;
    font-size: 12px;
    margin-top: 10px;

}

#titleInput:focus {
    color: var(--neutral-white);
    font-size: 16px;
    padding-left: 0.5rem;
}

#titleInput:valid {
    color: var(--neutral-white);
    font-size: 16px;
    padding-left: 0.5rem;
}

.input_form > textarea {
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid var(--neutral-white);
    height: 100px;
    resize: vertical;
}

#bodyInput:focus {
    color: var(--neutral-white);
    font-size: 16px;
    padding-left: 0.5rem;
}

#bodyInput:valid {
    color: var(--neutral-white);
    font-size: 16px;
    padding-left: 0.5rem;
}

.wrap_button {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-top: 10px;
    padding-bottom: 1.5rem;
}

#error_title {
    display: none;
}

#error_body {
    display: none;
}

#submitBtn {
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: var(--neutral-white);
    background-color: var(--purple-main);
    border: none;
    border-radius: 5px;
    padding: 10px 60px;
    cursor: pointer;
}

#closeBtn {
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: var(--neutral-white);
    background-color: var(--danger);
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    cursor: pointer;
}




/* Footer - Using Custom Element*/


/* addButton Responsive */

@media screen and (min-width: 480px) and (max-width: 1024px) {
    #wrap_addBtn {
        flex-direction: column; 
    }
    .blankDiv {
        display: none;
    }

    #searchNoteTitle {
        width: 200px;
        border-radius: 25px;
        border: 3px solid var(--gray-acc);
        background-color: transparent;
    }

    #search_bar {
        display: flex;
        height: 50px;
        max-width: 1057px;
        gap: 10px;
        padding-top: 40px;
    }

    #searchNoteBtn {
        width: 70px;
        border-radius: 50px;
    }


}


